.recentNews .news-title {
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
   font-size: 55px;
   font-weight: bold;
}
.recentNews .row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 30px;
}
.recentNews .ct-blog {
   margin-bottom: 30px;
   display: block;
}

.ct-blog .inner {
   background-color: #fff;
   padding: 10px;
   transition: all 0.2s ease-in-out 0s;
   cursor: pointer;
   height: 100%;
}
.ct-blog .inner:hover {
   background-color: #d4d4d4;
}
.ct-blog .fauxcrop {
   height: 150px;
   overflow: hidden;
}
.ct-blog .fauxcrop img {
   width: 100%;
}
.ct-blog-content {
   display: table;
   padding: 30px 0 28px;
}
.ct-blog-content .ct-blog-date {
   border-right: 1px solid;
   display: table-cell;
   padding: 10px;
   text-align: center;
}
.ct-blog-content .ct-blog-date span {
   font-size: 16px;
   color: #1400ca;
   font-weight: 700;
   display: block;
   line-height: 1;
}
.ct-blog-content .ct-blog-date strong {
   font-size: 25px;
   color: #1400ca;
}
.ct-blog-content .ct-blog-header {
   color: #000;
   display: table-cell;
   font-size: 22px;
   font-weight: 700;
   letter-spacing: -0.2px;
   line-height: 1.1;
   padding: 10px;
   vertical-align: top;
}

.btn-news {
   color: #333;
   font-size: 14px;
   font-weight: bold;
   padding-bottom: 30px;
   text-align: center;
}
.btn {
   float: right;
   background-color: #6610f2;
}
.btn-news.btn-contests a {
   font-size: 24px;
   transition: all 0.2s ease-in-out 0s;
}
.btn-news.btn-contests a:hover {
   color: #000;
}

.news-title {
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
   font-size: 55px;
   font-weight: bold;
}
h1 {
   color: #1400ca;
}

a {
   color: #1400ca;
}

#saved_news_container {
   width: 90%;
   margin: auto;
}
#saved_news_container > div {
   background-color: #cad4ff;
   padding-top: 5%;
}

#preview {
   display: grid;
   grid-template-columns: 40% 60%;
}
#preview figure img {
   display: block;
   margin: auto;
   grid-column: 1;
}
#preview div {
   grid-column: 2;
   padding-left: 20px;
   padding-right: 20px;
}
