main {
   margin-right: 5%;
   margin-left: 5%;
}

#saved_button_container {
   margin-top: 20px;
   margin-bottom: 50px;
   width: 40%;
}

#save_button {
   padding-top: 20px;
   padding-bottom: 20px;
}

.mock_image_thing {
   height: auto;
   min-height: 100vh;
}

h1 {
   margin: auto;
   text-align: center;
   margin-bottom: 5%;
   margin-top: 2%;
}

img {
   display: block;
   width: 90%;
   margin: auto;
   margin-top: 5%;
   margin-bottom: 5%;
}

p {
   margin: 10%;
   font-size: 1.3em;
}

#saved_skills_container {
   width: 90%;
   margin: auto;
}

#saved_skills_container > div {
   background-color: #cad4ff;
   padding: 5%;
   margin: 5%;
}

h3 {
   text-align: center;
}

.card-body {
   height: 100%;
}

.card-header {
   background-color: #1400ca;
   color: white;
   padding: 20px;
}

.btn-primary {
   background-color: #1400ca;
}

.btn-primary:focus {
   background-color: #1400ca;
}

.card-header:focus {
   background-color: #1400ca;
}

.carousel-item {
   background-color: #a6b8ff;
   color: black;
   padding-bottom: 50px;
}

.carousel {
   width: 90%;
   margin: auto;
}
